<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
	Contact Ruby on Rails Tutorial about the sample app at the
	<a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
	sample application.
</p>
<p>
	We have no idea what our phone number is, so pick up the phone and try guessing.
	Really.
</p>